<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/style.css" rel="stylesheet">
    <link href="./assets/prism/prism.css" rel="stylesheet">
    <link href="./assets/line-number/line-number.css" rel="stylesheet">
    <script src="./assets/prism/prism.js"></script>
    <script src="./assets/line-number/line-number.js"></script>

    <title>Shopify Code Snippets </title>
</head>

<body>

    <div class="container-fluid wordpressFunctionAP">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-4 left">
                    <div class="inner position-sticky" style="top:10px;">
                        <ul>
                            <li>
                                Options
                            </li>
                            <li>
                                <a href="#cmnFunc">
                                    Common Function
                                </a>
                            </li>
                            <li>
                                <a href="#func_php">
                                    For function.php (when you create a theme from scratch )
                                </a>
                            </li>
                            <li>
                                <a href="#woocmrc">
                                    Woocommerce
                                </a>
                            </li>
                            <li>
                                <a href="#acf">
                                    Advanced Custom Fields
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-md-6 right">
                    <ul>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">
                                    Create Local Environment using Themekit Shopify
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-javascript">Documentation
&lt;a href="https://shopify.dev/themes/tools/theme-kit">https://shopify.dev/themes/tools/theme-kit&lt;/a>

Install themekit using command
choco install themekit

after run command check themekit in your system at location
C:\Program Files\themekit

go to System Environment Variable
click on path and create new with  =  C:\Program Files\themekit

Create config.yml
and add this code 
development:
  password: [your-theme-kit-password]
  theme_id: "[your-theme-id]"
  store: [your-store].myshopify.com

go to Apps section in your store
create new app there with name themekit
and give theme template read write access to app

open cmd and run command for download theme on local
theme download 
theme watch
theme watch --allow-live
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">
                                    Create an Array in Liquid
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-javascript">{% assign fruits = ["orange", "apple", "peach"] %}
{% assign fruits = "orange,apple,peach" | split: ',' %}
{% for fruit in fruits %}
    {{ fruit }}
{% endfor %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">
                                    Create custom header in shopify
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-javascript">Paste code in header.liquid
&lt;header class="liquid">
    &lt;nav role="navigation">
        &lt;ul>
          {%- for link in linklists.main-menu.links -%}
            &lt;li>
              &lt;a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
                {{ link.title }}
              &lt;/a>
      
              {%- if link.links != blank -%}
                &lt;ul>
                  {%- for child_link in link.links -%}
                    &lt;li>
                      &lt;a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                        {{ child_link.title }}
                      &lt;/a>
      
                      {%- if child_link.links != blank -%}
                        &lt;ul>
                          {%- for grandchild_link in child_link.links -%}
                            &lt;li>
                              &lt;a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                {{ grandchild_link.title }}
                              &lt;/a>
                            &lt;/li>
                          {%- endfor -%}
                        &lt;/ul>
                      {%- endif -%}
      
                    &lt;/li>
                  {%- endfor -%}
                &lt;/ul>
              {%- endif -%}
      
            &lt;/li>
          {%- endfor -%}
        &lt;/ul>
    &lt;/nav>
&lt;/header>
</code>
                                </pre>
                                </span>
                            </div>
                        </li>

                        <!--- getting content on front end --->
                        <li id="cmnFunc">
                            <div>
                                <span class="text">
                                    Get Basic Things
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-liquid">print page title in liquid
===============
{{ page.title }}




print page content in liquid
===============

{{ page.content }}



print page handle in liquid
===============

{{ page.handle }}




print product title in liquid
===============
{{ product.title }}




print product description in liquid
===============
{{ product.description }}



print product price in liquid
===============
{{ product.price | money }}

//money without currency
{{ product.price | money_without_currency }}
    


//get product handle
{{ product.handle }}


//get product complete URL
{{ product.url }}



//get site URL
{{ shop.secure_url }}




===================
{% %} == Loops 
{{}} == echo
{% assign age = 24 %} create var in liquid
{{ age }}

for commment in liquid files
===================
{% comment %}
Your Comment
{% endcomment %}


plus Addition
===================
Adds a number to another number.
{{ 18 | plus: 2 }}


{% assign a = 10 %}
{% assign b = 15 %}
{{ a | plus: b }}


minus Addition
===================
{{ 18 | minus: 3 }}



multiplication 
===================
{{ 5 | times: 3 }}


max_blocks for blocks
There’s a limit of 16 blocks per section. You can specify a lower limit with the max_blocks attribute:
==========
"max_blocks": 5,


==========
in shopify url name is called Handle (like in WP called Permalink)
==========




Useful links
============


Basic dynamic schema 
===========
&lt;a href="./basic-schema.html">Check Here&lt;/a>


Basic dynamic schema for gallery
===========
&lt;a href="./basic-schema-for-gallery.html">Check Here&lt;/a>


Pure Card Gallery
===========
&lt;a href="./pure-card-gallery.html">Check Here&lt;/a>


https://www.youtube.com/watch?v=1cQca9E1fCQ&list=PLozpfQW4uw21RcDXeUTrAf1_-P7cP6HmL&index=16
=======================

https://shopify.dev/themes/architecture/sections/section-schema

================


https://shopify.github.io/liquid/basics/introduction/

==============


https://www.shopify.com/partners/blog/how-to-create-your-first-shopify-theme-section
=========


https://community.shopify.com/c/shopify-design/product-pages-allow-pre-orders-for-products/m-p/625914/highlight/true#M160624

============




Product pages - Get customization information for products
===============
https://community.shopify.com/c/shopify-design/product-pages-get-customization-information-for-products/m-p/616525


Ui-elements-generator
============
https://ui-elements-generator.myshopify.com/pages/line-item-property
============

</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">if condition
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{% assign myAge = 24 %}
{% if myAge == 24 %}
    Your Age is {{ myAge }}
{% else %}
    You are not awesome!
{% endif %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    if condition with multiple condition
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{% assign myAge = 24 %}
{% if myAge == 24 and myAge < 20%}
    Your Age is {{ myAge }}
{% else %}
    You are not awesome!
{% endif %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Switch case
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{% assign handle = "cake" %}
{% case handle %}
    {% when "cake" %}
        This is a cake
    {% when "cookie", "biscuit" %}
        This is a cookie
    {% else %}
        This is not a cake nor a cookie
{% endcase %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Display all product images in liquid
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{% for image in product.images %}

    &lt;img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">

{% endfor %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    for loop in liquid
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{% for i in (1..10) %}

  {% if forloop.first %}
    Loop is One <br/>
  {%  if forloop.last %}
    Loop is Last <br/>
  {% else %}
    Loop is {{ i }} <br/>
  {% endif %}

{% endfor %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Create Custom Theme settings in Config > settings_schema.json
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php"> {
"name" : "Custom Settings By Mv",
"settings": [
        {
            "type": "paragraph",
            "content": "This is the custom settings by MV"
        },
        {
            "id": "custom_settings_title",
            "type": "text",
            "label": "Custom Settings Label",
            "default": "Title"
        },
        {
            "id": "theme_alignment",
            "type": "text",
            "label": "Custom Theme Alignment",
            "default": "left"
        }
    ]
}

//Then call at anywhere using 
{{ settings.your_settings_id }}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    how-to-display-product-tags
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">&lt;p class="tags-list">
    {% for tag in product.tags %}
        &lt;a href="/collections/all/{{ tag | handleize }}">
            &lt;span clsas="el-icon-tag">{{ tag }}&lt;/span>
        &lt;/a>
    {% endfor %}
&lt;/p>


//if condition in tags
&lt;p class="tags-list">
    {% for tag in product.tags %}
        {% if tag contains "personal_box" %}
            //execute code when tag personal_box is availale on product tags 
        {% endif %}
    {% endfor %}
&lt;/p>
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    How to add Products Reviews (using App)
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">App Name :- Products Reviews
Download and install then follow steps show in app.
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Product pages - Add tabs to product descriptions
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">Open link mentioned below and follow steps:-
https://community.shopify.com/c/shopify-design/product-pages-add-tabs-to-product-descriptions/td-p/615138
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Add Product to Cart without Page Load Shopify
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">Open link mentioned below and follow steps:-
https://community.shopify.com/c/shopify-design/product-pages-stay-on-the-product-page-after-adding-products-to/td-p/616440
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Install Collapsible Accordion Tabs on Shopify Products in Liquid |
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">Open link mentioned below and follow steps:-
https://www.envision.io/blogs/ecommerce-pulse/28832705-how-to-add-an-faq-accordion-to-your-shopify-store
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Make Sticky Add to Cart bar on Shopify Product
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">Open link mentioned below and follow steps:-
&lt;a href="./sticky-add-to-cart.html">Check Here &lt;/a>
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Direct Checkout with one Click | Skip Cart Page Shopify
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">In product template add this schema 
{
    "type": "checkbox",
    "id": "enable_skip_cart",
    "label": "Enable Skip Cart Option",
    "default": false
}
//then add this above add to cart button
{% if section.settings.enable_skip_cart %}
    &lt;input type="hidden" name="return_to" value="/checkout/"/>
{% endif %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 right">
                    <ul>
                        <!---- function file code --->
                        <li id="func_php">
                            <div>
                                <span class="text">
                                    for loop in liquid for products
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{% for product in collections.electronics.products %}   
{{ product.title }}
{% endfor %}
</code>
                            </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    include css file in liquid
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{{ 'your-script.js'  | asset_url | script_tag }}
{{ 'your-styles.css' | asset_url | stylesheet_tag }}
{{ 'your-image.jpg' | asset_url | image_tag }}
//asset_url access your assets folder
</code>
                            </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">call header and footer file from sections in liquid
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{% section 'header' %}
{% section 'footer' %}
</code>
                            </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Display all product variants in liquid
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{% for variant in product.variants %}

    {{ variant.title }}

{% endfor %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Create sections
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">first create section then call using 
{% section 'testden-sec' %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Make section Dynamic (Basic Schema)
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{% comment %}
//Call settings for dynamic section
{% endcomment %}
<div>{{section.settings.custom_text_title }}</div>
        

{% comment %}
//schema settings for make dynamic section
{% endcomment %}
{% schema %}
    {
    "name": "Custom Sec By MV",
    "settings": [{
        "id": "custom_text_title",
        "type": "text",
        "label": "Custom Label",
        "default": "Title"
    }]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}    
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Sections enable disable using checkbox (Paste in your settings)
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{
    "type": "checkbox",
    "id": "enableText",
    "label": "Enable Text",
    "default": true
}

{%- if section.settings.enableText -%} //enableText is id
    {% comment %}
        //Code that will execute if the checkbox is ticked in the theme customizer 
    {% endcomment %}
 	
    <div>{{section.settings.custom_text_title }}</div>
{%- endif -%}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Configure Shopify Section with CSS (Paste in your settings)
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{
    "type": "select",
    "id": "textPosition",
    "label": "Position",
    "options": [
        {
            "value": "left",
            "label": "Left"
        },
        {
            "value": "center",
            "label": "Center"
        },
        {
            "value": "right",
            "label": "Right"
        }
    ]
}

Then configure in css using
&lt;div style="text-align: {{ section.settings.textPosition }}">{{section.settings.custom_text_title }}&lt;/div>
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Presets are default configurations of sections for Home Page
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">//Paste after = "settings": [],

"presets": [
    {
        "name": "custom-text",
        "category": "Custom"
    }
]


//Gallery display for home page

"presets": [
    {
        "name": "Custom Gallery",
        "category": "Custom",
        "blocks" : [
            {            
                "type" : "gallery"
            },
            {
                "type" : "gallery"
            }
        ]
    }
]

</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Make Image Field (dynamic)
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{
    "id": "customImage",
    "type": "image_picker",
    "label": "Custom Image"
}
//then display at any where
{% if section.settings.customImage %}
	&lt;img src="{{ section.settings.customImage | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
{% endif %}

    

</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Create Gallery using blocks (schema for block)
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{
"name": "Custom Gallery",

    "blocks": [
        {
            "type": "gallery",
            "name": "Gallery",
            "settings": [
            {
                "id": "galleryImage",
                "type": "image_picker",
                "label": "Gallery Image"
            },
            {
                "type": "checkbox",
                "id": "galleryImageCheck",
                "label": "Enable Gallery Image",
                "default": true
            }
            ]
        }
    ]
}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Create Gallery with URL using blocks (schema for block)
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">{
"name": "Custom Gallery",

    "blocks": [
        {
            "type": "gallery",
            "name": "Gallery",
            "settings": [
            {
                "id": "galleryImage",
                "type": "image_picker",
                "label": "Gallery Image"
            },
            {
                "id": "galleryUrl",
                "type": "url",
                "label": "Gallery Image Url"
            },
            {
                "type": "checkbox",
                "id": "galleryImageCheck",
                "label": "Enable Gallery Image",
                "default": true
            }
            ]
        }
    ]
}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Display Gallery
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">&lt;div class="gallery">
  
	
    {% for block in section.blocks %} 
    
        &lt;div class="gallery-item">
    
        {%- if block.settings.galleryImageCheck -%} 

            &lt;a href ="{{ block.settings.galleryUrl}}">
            
                &lt;img src="{{ block.settings.galleryImage | img_url: '1024x1024' }}"/>

            &lt;/a>

        {%- endif -%}
        
        &lt;/div>
    
    {% endfor %}
    
    
  &lt;/div>
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Create Snippets
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">Create snippet and paste your HTML code there then call at where your schema defined using
{% include "gallery-html" %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Add custom text box on shopify Product
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">*In the Templates directory, click Add a new template.
*Choose product from the drop-down menu, and name the template customizable:
*Click Create template. This creates a copy of your product.liquid template called product.customizable.liquid. The new file will open in the code editor.
*Find the following line of code:

{% section 'product-template' %}
 

Replace it with:

{% section 'product-customizable-template' %}
*Click Save.
*In the Sections directory, click Add a new section.
*Name your new section file product-customizable-template. Click Create section. Your new file will open in the code editor.
*Delete all of the default code so that the file is empty. Copy all of the content from your product-template.liquid file (in the Sections directory), and paste it into your new product-customizable-template file.
Click Save.

*After that you need to follow some steps available at 
https://ui-elements-generator.myshopify.com/pages/line-item-property

</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Product pages - Add color swatches to products
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">Follow the url below:-
https://community.shopify.com/c/shopify-design/product-pages-add-color-swatches-to-products/td-p/616427
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Products Templates
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">All Products Template :- Sections > collection-template.liquid
Products Grid :- Snippets > product-grid-item.liquid
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Easy way to Add js Quantity selector in shopify
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">&lt;a href="./easy-way-to-add-js-quantity-selector-in-shopify.html">Check Here&lt;/a>
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="text">
                                    Make Product Image & Thumbnail Slider with Slick
                                </span>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">//Use slick slider and get all product images using Loop below:-
{% for image in product.images %}
    &lt;img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
{% endfor %}
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
