<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/style.css" rel="stylesheet">
    <link href="./assets/prism/prism.css" rel="stylesheet">
    <link href="./assets/line-number/line-number.css" rel="stylesheet">
    <script src="./assets/prism/prism.js">
    </script>
    <script src="./assets/line-number/line-number.js">
    </script>
    <title> Laravel Code Snippets
    </title>
</head>

<body>
    <div class="container-fluid wordpressFunctionAP">
        <div class="container">
            <div class="row">
                <div class="col-md-6 right">
                    <ul>
                        <li id="cmnFunc">
                            <div>
                                <span class="text"> Laravel Documentation<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">https://laravel.com/docs/10.x
</code>
                                    </pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Install Composer<img src="./assets/copy-solid.svg" class="copy"><span
                                        id="copy_tooltip" aria-live="assertive" role="tooltip"></span></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">// Run This Setup File To Install Composer 
https://getcomposer.org/Composer-Setup.exe
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text"> Laravel Package Installation <img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">// Run This Command In CMD To Install Laravel Package
composer global require laravel/installer
</code>

</pre>

                                    </pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Create Laravel Project<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">// Run This Command In CMD Where you Want To Install Laravel Project
laravel new Project-Name
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Loops In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">@for ($Variable-Name = 0; $Variable-Name < 10; $Variable-Name++) 
    The current value is {{ $Variable-Name }} 
@endfor 

@foreach ($Variable-Name as $Variable-Name) 
    {{$Variable-Name}}
@endforeach

@forelse ($Variable-Name as $Variable-Name)
    {{ $Variable-Name}}
@empty
    Variable-Name empty
@endforelse

@while (Condition to be check)
    //code to be excuted...
@endwhile
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">HasSection In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">@hasSection('navigation')
    @yield('navigation')
@endif
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Switch In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">@switch($Variable-Name)
    @case(1)
        First case...
    @break

    @case(2)
        Second case...
    @break

    @default
        Default case...
@endswitch
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Accessing The Current URL<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">// Get the current URL without the query string...
    {{url()->current()}}

// Get the current URL including the query string...
    {{url()->full()}}

// Get the full URL for the previous request...
    {{url()->previous()}}
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Retrieving The Authenticated User<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">// Retrieve the currently authenticated user...
    $user = Auth::user();

// Retrieve the currently authenticated user's ID...
    $id = Auth::id();
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Steps to generate the Migration<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">php artisan make:migration create_posts_table - -create="posts"
To view the migration table, open the directory "database\migrations"

// Suppose I added two more columns shown in the below code:
public function up()
{
    Schema::create('posts', function (Blueprint $table) {
        $table->bigIncrements('id');
        $table->string('title')->unique();
        $table->text('body');
        $table->timestamps();
    }); 
}
// Enter the migrate command in Cmd window
    php artisan migrate.
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Generating Migrations<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">php artisan make:migration create_(name of table you want to create)_table</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Running Migrations<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">php artisan migrate               Run the database migrations
php artisan migrate:fresh         Drop all tables and re-run all migrations
php artisan migrate:install       Create the migration repository
php artisan migrate:refresh       Reset and re-run all migrations
php artisan migrate:reset         Rollback all database migrations
php artisan migrate:rollback      Rollback the last database migration
php artisan migrate:status        Show the status of each migration</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Get Diffrent Path In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">app_path()          :- The app_path function returns the fully qualified path to your application's app directory.
base_path()         :- The base_path function returns the fully qualified path to your application's root directory.
config_path()       :- The config_path function returns the fully qualified path to your application's config directory.
database_path()     :- The database_path function returns the fully qualified path to your application's database directory.
mix()               :- The mix function returns the path to a versioned Mix file.
public_path()       :- The public_path function returns the fully qualified path to your application's public directory.
resource_path()     :- The resource_path function returns the fully qualified path to your application's resources directory.
storage_path()      :- The storage_path function returns the fully qualified path to your application's storage directory.</code>
                                                                                                                        
</pre>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 left">
                    <ul>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Environment Configuration<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">Open Env File Present In root Directory And Enter Your Details 

APP_NAME        =   Project-Name
APP_URL         =   Project-Url

DB_CONNECTION   =   Your Database Connection
DB_HOST         =   Your Database Host
DB_PORT         =   Your Database Port
DB_DATABASE     =   Your Database Name
DB_USERNAME     =   Your Database Username
DB_PASSWORD     =   Your Database Password
</code>
                                    </pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Echo In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">{{ $Variable-Name }}</code>
                        
</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">If Condition In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">@if (Condition to be check)
    //code to be excuted...
@elseif (Condition to be check)
    //code to be excuted...
@else
    //code to be excuted...
@endif
</code>
                        
</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Isset In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">@isset($Variable-Name)
    // $Variable-Name is defined and is not null...
@endisset
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Empty In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">@empty($Variable-Name)
    // $Variable-Name is "empty"...
@endempty
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Auth In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">@auth
    // The user is authenticated...
@endauth
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">PHP In Laravel<img src="./assets/copy-solid.svg" class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">@php
    //code to be excuted...
@endphp
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Include In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">@include('file to be incude')
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Session In Laravel<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">// Retrieving All Session Data...
    $data = session()->all();
// Determining If An Item Exists In The Session
    @if (session()->has('users')) 
        // code to be excuted...
    @endif

    @if (session()->exists('users'))
        // code to be excuted...
    @endif

    @if (session()->missing('users'))
        // code to be excuted...
    @endif

// Storing Data
    // Via a request instance...
        session()->put('key', 'value');
    
    // Via the global "session" helper...
        session(['key' => 'value']);

// Pushing To Array Session Values
    session()->push('user.teams', 'developers');

// Deleting An Item
    session()->pull('key', 'default');

    // Forget a single key...
    session()->forget('name');
    // Forget multiple keys...
    session()->forget(['name', 'status']);
    
    session()->flush();
</code>

</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Laravel Mailgun Setup<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=Username
MAIL_PASSWORD=Password
MAIL_ENCRYPTION=tls
</code>
                        
</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Authentication<img src="./assets/copy-solid.svg" class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">composer require laravel/ui

php artisan ui vue --auth</code>
                                                
</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Create Controller<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">php artisan make:controller Controller-Name</code>
                                                                        
</pre>
                                </span>
                            </div>
                        </li>
                        <li id="cmnFunc">
                            <div>
                                <span class="text">Create Middleware<img src="./assets/copy-solid.svg"
                                        class="copy"></span>
                                <span class="function">
                                    <pre class="line-numbers"><code class="language-javascript copied">php artisan make:middleware middleware-name</code>
                                                                                                                        
</pre>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".copy").click(function () {
                $(".copied").each(function () {
                    $(this).removeClass("copied");
                    $(this).attr('src', './assets/copy-solid.svg');
                })
                var temp = $("<input>");
                $(this).addClass("copied");
                $(this).attr('src', './assets/clipboard-check-solid.svg');
                $("body").append(temp);
                temp.val($(this).parent().parent().find(".copied").text()).select();
                document.execCommand("copy");
                temp.remove();
            });
        });
    </script>
</body>

</html>